{% extends 'curd/base.html' %}

{% block title %}公共资源页面{% endblock %}

{% block body %}
<div class="container">
    <h2>内部公共资源列表</h2>
    <br>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>客户姓名</th>
                <th>客户QQ</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in public_customer_list %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.qq }}</td>
                    {% if customer.consultant_id == current_user_id %}
                        <td>无权限</td>
                    {% else %}
                            <td><a href="/curd/crm/customer/{{ customer.id }}/competition/">抢单</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}

